---
import ScrollText from "./Sanity/ScrollText";
// import Timeline from "./Sanity/Timeline";
import Cards from "./Sanity/Cards";
import Steps from "./Sanity/Steps";
import Persons from "./Sanity/Persons";
import Partners from "./Sanity/Partners";
import Rounds from "./Sanity/Rounds";
import WorkshopsAndResources from "./Sanity/Workshops";
import Slideshow from "./Sanity/Slideshow";
import Faq from "./Sanity/Faq";
import HubMap from "./Sanity/HubMap";

const { data } = Astro.props;
---

<div class="flex flex-col gap-16 py-20 sm:gap-32">
  {
    data?.map((item: any) => {
      if (item._type === "sectionHubMap") {
        return <HubMap title={item.title} />;
      }

      if (item._type === "sectionScrollText") {
        return <ScrollText text={item.text} />;
      }

      // if (item._type === "sectionTimeline") {
      //   return <Timeline client:only />;
      // }

      if (item._type === "sectionRowCards") {
        return <Cards title={item.title} cards={item.items} />;
      }

      if (item._type === "sectionSteps") {
        return (
          <Steps
            title={item.title}
            description={item.description}
            info={item.info}
            items={item.items}
            showSteps={item.showSteps}
          />
        );
      }

      if (item._type === "sectionPersons") {
        return <Persons title={item.title} persons={item.items} client:load />;
      }

      if (item._type === "sectionPartners") {
        return (
          <Partners title={item.title} partners={item.items} client:load />
        );
      }

      if (item._type === "sectionFaq") {
        return <Faq title={item.title} questions={item.items} client:load />;
      }

      if (item._type === "sectionRounds") {
        return (
          <Rounds
            title={item.title}
            description={item.description}
            rounds={item.items}
          />
        );
      }

      if (item._type === "sectionSlideshow") {
        return <Slideshow cards={item.items} client:load />;
      }

      if (item._type === "sectionWorkshops") {
        return (
          <WorkshopsAndResources
            title={item.title}
            workshops={item.workshops}
            resources={item.resources}
            client:load
          />
        );
      }
    })
  }
</div>
