---
import "../styles/global.css";
import { Header } from "../components/Header";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import { getSettings } from "../utils/sanity";
import { preloadSanityFile } from "../utils/preloadSanityFile";

const { locale } = Astro.params;
const { metaTitle, metaDescription, metaImage, translations } = Astro.props;
const settings = await getSettings("en");

const currentPath = Astro.url.pathname;

const title = metaTitle
  ? `${metaTitle}`
  : settings?.seo?.metaTitle
    ? settings?.seo?.metaTitle
    : "Swiss Subnet";

const description = metaDescription
  ? metaDescription
  : settings?.seo?.metaDescription
    ? settings?.seo?.metaDescription
    : "";

const image = metaImage ? metaImage.asset.url : null;

const canonicalUrl = `https://wchl25.com${currentPath}`;

const currentTranslations = translations ?? {
  en: "/en",
};
console.log("settings", settings);

const headerData = await Promise.all(
  (settings?.header || []).map(async (item: any) => {
    if (item.menuItems) {
      item.menuItems = await Promise.all(
        item.menuItems.map(async (menuItem: any) => {
          if (menuItem.link?.file?.asset?.url) {
            const url = await preloadSanityFile(
              menuItem.link.file.asset.url,
              menuItem.link.file.asset.originalFilename,
            );
            menuItem = {
              ...menuItem,
              link: {
                ...menuItem.link,
                file: {
                  ...menuItem.link.file,
                  asset: { ...menuItem.link.file.asset, url },
                },
              },
            };
          }
          return menuItem;
        }),
      );
    }
    return item;
  }),
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <ClientRouter />
  </head>
  <body class="relative overflow-x-clip">
    <Header
      data={headerData}
      locale={locale ?? "en"}
      currentPath={currentPath}
      translations={currentTranslations}
      client:only
    />
    <main class="animate-appear min-h-screen">
      <slot />
      <Footer data={settings?.footer} />
    </main>
  </body>
</html>

<style is:global>
  @reference "../styles/global.css";

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  html {
    @apply antialiased;
    @apply font-sans;
    font-size: 16px;
    scroll-behavior: smooth;
    line-height: 1.4;
  }

  @media (max-width: 640px) {
    html {
      font-size: 15px;
    }
  }

  .t-0 {
    @apply text-8xl;
    @apply md:text-9xl;
    line-height: 0.9;
    font-weight: 500;
    @apply tracking-tighter;
  }

  .t-1 {
    @apply text-4xl;
    @apply sm:text-5xl;
    @apply lg:text-6xl;
    @apply xl:text-7xl;
    font-weight: 500;
    @apply tracking-tight;
    overflow-wrap: anywhere;
  }

  .t-2 {
    @apply text-4xl;
    @apply md:text-5xl;
    line-height: 1.1;
    font-weight: 500;
    @apply tracking-tight;
    overflow-wrap: anywhere;
  }

  .t-3 {
    @apply text-3xl;
    line-height: 1.1;
    font-weight: 500;
    @apply tracking-tight;
    overflow-wrap: anywhere;
  }

  .body {
    @apply text-lg;
    @apply lg:text-xl;
    @apply max-w-2xl;
  }

  .mono {
    font-family: "IBM Plex Mono", monospace;
    @apply text-sm;
    @apply uppercase;
    line-height: 1.2;
  }

  .pill {
    @apply text-sm;
    @apply uppercase;
    line-height: 1;
    box-shadow: 0 0 0 2px currentColor;
    @apply font-mono;
    @apply py-2;
    @apply px-3;
    @apply rounded-full;
    transition: 300ms all ease-out;
    backdrop-filter: blur(10px);
    @apply bg-neutral-100/10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
  }

  .btn {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    position: relative;
  }
  .btn .arrow {
    position: absolute;
    right: -2px;
    width: 2rem;
    overflow: hidden;
  }
  .btn .arrow:after,
  .btn .arrow:before {
    content: "→";
    transition: 200ms all ease-out;
    width: 100%;
    text-align: center;
    display: block;
  }
  .btn .arrow:before {
    left: -2rem;
    position: absolute;
  }

  .btn-external .arrow:before {
    left: -2rem;
    top: 2rem;
  }

  .btn-external .arrow:after,
  .btn-external .arrow:before {
    content: "↗";
  }

  .btn:hover .arrow:after,
  .btn:hover .arrow:before {
    transform: translateX(2rem);
  }

  .btn-external:hover .arrow:after,
  .btn-external:hover .arrow:before {
    transform: translate(2rem, -1.6rem);
  }

  .btn:hover .arrow {
    right: -6px;
  }

  .btn:hover .pill,
  button.pill:hover {
    @apply bg-neutral-200/20;
  }

  .portable-text h2 {
    @apply text-3xl;
    @apply md:text-4xl;
    @apply font-medium;
    @apply mt-8;
  }
  .portable-text h3 {
    @apply text-2xl;
    @apply font-medium;
    @apply mt-8;
  }
  .portable-text p,
  .portable-text ol,
  .portable-text ul {
    margin-top: 1rem;
  }

  .portable-text ol {
    list-style: auto;
    padding-left: 1rem;
  }

  .portable-text ol > li {
    margin-top: 1rem;
  }

  .portable-text ul {
    list-style: initial;
    padding-left: 1rem;
  }

  .portable-text b,
  .portable-text strong {
    @apply font-medium;
    @apply mt-10;
    @apply mb-4;
  }

  .footer-text a {
    transition: 150ms;
  }
  .footer-text a:hover {
    opacity: 0.6;
  }

  .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    position: relative;
  }
  .plus:after,
  .plus:before {
    content: "";
    width: 3px;
    height: 10px;
    background: inherit;
    position: absolute;
    transition: 150ms all ease-out;
  }

  .plus:after {
    transform: rotate(90deg);
  }

  .plus.active:before {
    transform: rotate(90deg);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition:
      background-color 5000s ease-in-out 0s,
      color 5000s ease-in-out 0s;
  }

  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .body li {
    padding-left: 1em;
    position: relative;
  }

  .body li:before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    @apply bg-primary;
    display: inline-block;
    top: 0.5em;
    left: 0;
    position: absolute;
  }

  .animate-marquee {
    animation: marquee 70s linear infinite;
  }
  .animate-marquee2 {
    animation: marquee2 70s linear infinite;
  }

  .animate-appear {
    animation: appear 0.6s ease-in-out;
  }
  .container {
    max-width: 1600px;
  }
</style>
